.button {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    line-height: normal;
    gap: map-get($spacings, 8);
    padding: 17px 17px;
    height: 50px;
    font-family: $font-family-base;
    font-size: var(--body-3);
    border-radius: .5rem;
    border: 1px solid;
    line-height: 100%;
    font-weight: 700;
    @media (max-width: $bp-xs) {
        height: 45px;
    }
    &-wide {
        width: 240px;
    }
    &-lg {
        width: 240px;
    }
    &-lg {
        width: 200px;
    }
    &-md {
        width: 180px;
    }
    &-sm {
        width: 160px;
    }

    &.button--solid {
        color: $color-light-black;
        background-color: $color-bone;
        border-color: $color-bone;

        &:hover {
            background-color: darken($color-bone, 10%);
        }
    }

    &.button--outlined {
        color: $color-bone;
        background-color: transparent;
        border-color: $color-bone;
        &:hover {
            background-color: $color-bone;
            color: $color-light-black;
        }
    }

    &.button--solid-dark {
        color: $color-text-inverse;
        background-color: $color-dark-green;
        border-color: $color-dark-green;

        &:hover {
            background-color: darken($color-dark-green, 10%);
        }
    }

    &.button--solid-gold {
        color: $color-text-inverse;
        background-color: $color-gold;
        border-color: $color-gold;

        &:hover {
            background-color: darken($color-gold, 10%);
            border-color: darken($color-gold, 10%);
        }
    }

    &.button--underline-light {
        color: $color-text-inverse;
        background-color: transparent;
        border: 0;
        gap: 4px;
        position: relative;
        padding: 3px 0;
        height: auto;

        &::before {
            content: '';
            width: 100%;
            height: 1px;
            background-color: $color-text-inverse;
            position: absolute;
            bottom: 0;
            left: 0;
        }
        &:hover {
            color: $color-gold;
            &::before {
                background-color: $color-gold;
            }
            svg path {
                fill: $color-gold;
            }
        }
    }
}