.dialogs {
    position: fixed;
    display: none;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 50;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    background: rgba(27, 26, 26, .2);
    backdrop-filter: blur(24px);
    top: 0;
    left: 0;

    .close-bg {
        position: fixed;
        z-index: 51;
        width: 100%;
        height: 100%;
    }

    .flex-popup {
        display: flex;
        flex-direction: column;
        justify-content: center;
        min-height: 100%;
        width: 100%;
        box-sizing: border-box;
    }

    .popup {
        display: none;
        opacity: 0;
        margin: 0 auto;
        position: relative;
        z-index: 52;
        width: 100%;
        max-width: max-content;
        border: none;
        padding: 0;
        box-sizing: border-box;
        transform: translate3d(0, -30px, 0) scale(.9);
        transition: all ease-in-out .3s;
        background: transparent;
        color: var(--black);

        &.active {
            opacity: 1;
            transform: translate3d(0, 0, 0) scale(1);
        }
    }
    .title-wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .close {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 35px;
        height: 35px;
        border-radius: 50%;
        border: 1px solid $color-light-black;
        cursor: pointer;

        .ico {
            display: flex;
            width: 10px;
            height: 10px;
        }

        &:hover {
            border: 1px solid #a3a3a3;
            svg {
                path {
                    stroke: #a3a3a3;
                }
            }
        }
    }

    .popup {
        background-color: transparent;

        &__wrapper {
            display: flex;
            flex-direction: row;
            flex-wrap: nowrap;
            justify-content: space-between;
            width: 480px;
            min-height: 372px;
            margin: 0 auto;
            border-radius: 16px;
            background-color: #fff;
            position: relative;
            z-index: 2;
            max-width: 480px;
            padding: 0;
            box-sizing: border-box;
            overflow: visible;
            @media (max-width: $bp-xs) {
                width: 340px;
            }
            @media (max-width: $bp-mobile-sm) {
                width: 300px;
            }
        }

        &__content {
            display: flex;
            flex-direction: column;
            width: 100%;
            padding: 45px;
            @media (max-width: $bp-xs) {
                padding: 25px;
            }
            @media (max-width: $bp-mobile-sm) {
                padding: 20px;
            }
        }

        &__form {
            display: flex;
            flex-direction: column;
            width: 100%;
            margin-top: 32px;
            gap: 30px;

            &.popup-list {
                padding: 20px 0;
                max-height: 100%;
            }
        }

        .form-description {
            font-size: 12px;
            font-weight: 200;
            a {
                text-decoration: underline;
            }
        }

        &__file {
            gap: 4px;
            width: 100%;
            padding: 17px 0;
            border-radius: 4px;
            color: $color-border-primary;
            border: 1px dashed $color-border-primary;
            transition: all ease-in-out .2s;
            cursor: pointer;

            >span {
                font-size: 10px;
                line-height: 140%;
            }

            &:hover {
                border-color: #000;
            }
        }
        &__btn-block {
            display: flex;
            flex-direction: column;
            gap: 10px;
        }
    }
}