.faq {
    margin-top: 80px;

    .button {
        width: 180px;
    }

    @media (max-width: $bp-md) {
        padding: 4rem 0;
    }

    &__container {
        display: flex;
        justify-content: space-between;
        gap: 4rem;

        @media (max-width: $bp-md) {
            flex-direction: column;
            gap: 2rem;
        }
    }

    &__left {
        flex: 0 0 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    &__cta-wrapper {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 0.5rem;
    }

    &__cta-text {
        font-size: 0.875rem;
        font-weight: 600;
        color: $color-text-primary;
        width: 180px;
        text-align: center;
    }

    &__list {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
    }

    &__item {
        overflow: hidden;
        transition: background-color 0.3s ease;

        &.active {

            // Darker grey/greenish from image
            .faq__question {
                color: $color-text-primary;
                background-color: #BDC4C0;
            }

            .faq__icon {
                transform: rotate(45deg);
            }
        }
    }

    &__question {
        padding: 10px 20px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;
        font-weight: 500;
        color: $color-text-primary;
        transition: color 0.3s ease;
        background-color: #F7F7F7;
        border-radius: $border-radius-base;

        @media (max-width: $bp-sm) {
            padding: 1rem 1.5rem;
        }
    }

    &__icon {
        font-size: 1.5rem;
        font-weight: 300;
        transition: transform 0.3s ease;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 24px;
        height: 24px;
    }

    &__answer {
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.3s ease;

        &-content {
            padding: 20px;
            font-size: 1rem;
            line-height: 1.5;
            color: $color-text-secondary;

            @media (max-width: $bp-sm) {
                padding: 0 1.5rem 1rem 1.5rem;
            }
        }
    }
}