.hero {
    background-image: url('../img/hero.jpg');
    background-size: cover;
    background-position: center center;
    height: 800px;
    padding-top: 100px;
    position: relative;
    &::before {
        content: '';
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        background-color: rgba(0, 0, 0, .2);
        z-index: 1;
    }
    &__info {
        position: relative;
        z-index: 2;
        padding: 30px;
        max-width: 750px;
        color: $color-bone;
        background-color: rgba(0, 0, 0, .3);
        backdrop-filter: blur(10px);
        border-radius: .5rem;
        &-advantages {
            margin-top: 30px;
            display: flex;
            align-items: center;
            gap: 35px;
        }
        &-adv {
            display: flex;
            gap: 10px;
            align-items: center;
        }
        &-btns {
            display: flex;
            gap: 20px;
            margin-top: 30px;
        }
    }
    >.container {
        height: 100%;
    }
    &__wrppaer {
        height: 100%;
        align-items: center;
        display: flex;

    }
}