.partners {
    margin-top: 80px;

    @media (max-width: $bp-md) {
        margin-top: 60px;
    }

    @media (max-width: $bp-sm) {
        margin-top: 50px;
    }

    &__sub {
        margin-top: 15px;
    }

    &__row {
        display: flex;
        justify-content: center;
        gap: 90px;

        @media (max-width: $bp-lg) {
            gap: 60px;
        }

        @media (max-width: $bp-md) {
            gap: 40px;
        }

        @media (max-width: $bp-sm) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px 20px;
            justify-items: center;
        }

        @media (max-width: $bp-xs) {
            grid-template-columns: repeat(2, 1fr);
            gap: 25px 15px;
        }

        &:first-of-type {
            margin-top: 50px;

            @media (max-width: $bp-md) {
                margin-top: 40px;
            }

            @media (max-width: $bp-sm) {
                margin-top: 30px;
            }
        }

        &:last-of-type {
            margin-top: 37px;

            @media (max-width: $bp-md) {
                margin-top: 30px;
            }

            @media (max-width: $bp-sm) {
                margin-top: 0;
            }
        }

        img {
            max-width: 100%;
            height: auto;

            @media (max-width: $bp-sm) {
                max-width: 80px;
            }

            @media (max-width: $bp-xs) {
                max-width: 70px;
            }
        }
    }

}