.partners {
    margin-top: 100px;

    @media (max-width: $bp-md) {
        margin-top: 80px;
    }

    @media (max-width: $bp-sm) {
        margin-top: 60px;
    }

    &__sub {
        margin-top: 15px;
    }

    &__row {
        display: flex;
        justify-content: space-between;
        &:last-child {
            justify-content: space-evenly;
        }

        @media (max-width: $bp-sm) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 30px 20px;
            justify-items: center;
        }

        @media (max-width: $bp-xs) {
            grid-template-columns: repeat(2, 1fr);
            gap: 25px 15px;
        }

        &:first-of-type {
            margin-top: 50px;

            @media (max-width: $bp-md) {
                margin-top: 40px;
            }

            @media (max-width: $bp-sm) {
                margin-top: 30px;
            }
        }

        &:last-of-type {
            margin-top: 37px;

            @media (max-width: $bp-md) {
                margin-top: 30px;
            }
        }

        img {
            max-width: 100%;
            height: auto;

            @media (max-width: $bp-lg) {
                width: 120px;
            }
            @media (max-width: $bp-md) {
                width: 90px;
            }
        }
    }

}