.partners {
    margin-top: 80px;

    &__sub {
        margin-top: 15px;
    }

    &__row {
        display: flex;
        justify-content: center;
        gap: 90px;

        &:first-of-type {
            margin-top: 50px;
        }

        &:last-of-type {
            margin-top: 37px;
        }
    }

}