.portfolio {
    margin-top: 100px;
    margin-bottom: 100px;

    &__wrapper {
        margin-top: 50px;
    }

    &__card {
        margin-bottom: 50px;
        align-items: flex-start;
        gap: 20px;
        &.portfolio__card--right-oriented {
            flex-direction: row-reverse;
            display: flex;
            > div {
                width: 50%;
            }
            .portfolio__card-info {
                padding-left: 0;
                padding-right: 30px;
            }
        }
    }

    &__card-slider {
        position: relative;
        border-radius: 20px;
        overflow: hidden;
        max-height: 407px;

        .swiper-slide {
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                border-radius: 20px;
                display: block;
            }
        }

        .swiper-button-next,
        .swiper-button-prev {
            color: #fff;
            width: 30px;
            height: 30px;
            background: rgba(255, 255, 255, 0.2);
            // border: 1px solid rgba(255, 255, 255, 0.5);
            border-radius: 50%;
            backdrop-filter: blur(4px);
            transition: all 0.3s ease;

            &::after {
                font-size: 14px;
                font-weight: bold;
                display: none;
            }

            &:hover {
                background: rgba(255, 255, 255, 0.4);
            }
        }

        .swiper-pagination {
            bottom: 20px;

            &-bullet {
                background: #fff;
                opacity: 0.5;
                width: 8px;
                height: 8px;
                margin: 0 6px;

                &-active {
                    opacity: 1;
                }
            }
        }
    }

    &__card-title {
        font-weight: 400;
        margin-bottom: 24px;
    }

    &__card-options {
        display: flex;
        flex-direction: column;
        gap: 16px;
    }

    &__card-info {
        padding-left: 30px;
    }

    &__card-option {
        display: flex;
        align-items: center;
        gap: 12px;
        width: fit-content;
        font-size: 0.875rem;
        font-weight: 300;

        .tag {
            display: flex;
            align-items: center;
            gap: 8px;
            color: $color-dark-green;
            font-weight: 500;
            background: #DCE3DE;
            padding: 7px 8px;
            border-radius: 4px;
            gap: 8px;
            font-size: 0.75rem;

            img {
                width: 16px;
                height: 16px;
            }
        }
    }

    &__card-sum {
        background: $color-bone;
        padding: 6px 8px;
        border-radius: 4px;
        margin-top: 8px;
        margin-bottom: 24px;
        font-size: 0.875rem;
        width: fit-content;
        font-weight: 300;

        &-item {
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 0;
            }

            span {
                font-weight: 400;
            }
        }
    }
    &__card-descr-wrapper {
        font-size: 0.875rem;
        margin-bottom: 12px;
        font-weight: 300;
        margin-top: 25px;
    }
    &__card-descr {
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        position: relative;
    }
    &__card-descr--expanded {
        -webkit-line-clamp: unset;
        overflow: visible;
      }
    &__card-descr-toggle {
        width: 100%;
        text-align: end;
        padding: 4px 30px 0;
    }

    .btn-details {
        background: #BFA06A; // Gold/Brown color
        color: #fff;
        padding: 12px 32px;
        border-radius: 8px;
        font-weight: 600;
        display: inline-block;
        transition: background 0.3s;

        &:hover {
            background: darken(#BFA06A, 10%);
        }
    }
    .button--solid-dark {
        padding-left: 51px;
        padding-right: 51px;
    }
    .button--solid-gold {
        padding-left: 44px;
        padding-right: 44px;
    }
}