.repair-type {
    margin-top: 100px;
    &__wrapper {
        gap: 20px;
        margin-top: 50px;
    }
    &__card {
        height: 427px;
        border-radius: .5rem;
        position: relative;
        &-img {
            width: 100%;
            height: 100%;
            img {
                width: 100%;
                height: 100%;
                border-radius: .5rem;
            }
        }
        &-info {
            position: absolute;
            right: 20px;
            bottom: 20px;
            background-color: rgba(0, 0, 0, .5);
            backdrop-filter: blur(10px);
            color: $color-text-inverse;
            padding: 20px;
            border-radius: .5rem;
        }
        &-btns {
            margin-top: 20px;
            display: flex;
            gap: 20px;
            align-items: center;
        }
    }
}