.stages {
    &__wrapper {
        display: flex;
        gap: 185px;
    }

    &__wrapper-top {
        justify-content: space-between;
    }

    &__wrapper-bottom {
        justify-content: center;
    }

    &__line {
        margin: 54px 0;
    }

    &__card {
        max-width: 310px;

        &-heading {
            background-color: #BDC4C0;
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 10px;
            padding: 10px 15px;
            font-size: 14px;
        }

        .num {
            background-color: $color-bone;
            color: $color-gold;
            font-weight: 900;
            font-size: 18px;
            width: 25px;
            height: 25px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icon {
            width: 17px;
            height: 17px;
        }

        &-info {
            padding: 20px 15px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            font-size: 14px;
            font-weight: 300;
        }
    }
}