.stages {
    margin-top: 100px;

    @media (max-width: $bp-md) {
        margin-top: 80px;
    }

    @media (max-width: $bp-sm) {
        margin-top: 60px;
    }
    &__main-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        @media (max-width: $bp-md) {
            align-items: flex-start;
            gap: 30px;
        }
    }
    &__outer {
        margin-top: 50px;
        @media (max-width: $bp-md) {
            display: flex;
            flex-direction: column;
            gap: 15px;
            margin-top: 30px;
        }
    }

    &__wrapper {
        display: flex;
        gap: 185px;

        @media (max-width: $bp-lg) {
            gap: 100px;
        }

        @media (max-width: $bp-md) {
            flex-direction: column;
            gap: 15px;
        }
    }

    &__wrapper-top {
        justify-content: space-between;

        @media (max-width: $bp-md) {
            justify-content: flex-start;
            .stages__card {
                &:nth-child(1) {
                order: 1;
                }
                &:nth-child(2) {
                    order: 3;
                }
                &:nth-child(3) {
                    display: none;
                }
                &:last-child {
                    display: block;
                    order: 2;
                }
            }
        }
    }

    &__wrapper-bottom {
        justify-content: center;

        @media (max-width: $bp-md) {
            justify-content: flex-start;
            .stages__card {
                &:nth-child(1) {
                    display: none;
                }
                &:nth-child(2) {
                    order: 1;
                }
                &:nth-child(3) {
                    display: block;
                    order: 2;
                }
            }
        }
    }

    &__line {
        margin: 54px 0;

        @media (max-width: $bp-md) {
            margin: 40px 0;
            display: none;
        }

        img {
            @media (max-width: $bp-lg) {
                width: 100%;
                height: auto;
            }
        }
    }

    &__card {
        max-width: 310px;
        &:last-child {
            display: none;
        }
        @media (max-width: $bp-lg) {
            max-width: 280px;
        }
        @media (max-width: $bp-md) {
            max-width: 100%;
        }

        &-heading {
            background-color: #BDC4C0;
            display: flex;
            align-items: center;
            gap: 10px;
            border-radius: 10px;
            padding: 10px 15px;
            font-size: 14px;

            @media (max-width: $bp-md) {
                width: 50%;
            }
            @media (max-width: $bp-xs) {
                width: 100%;
            }
        }

        .num {
            background-color: $color-bone;
            color: $color-gold;
            font-weight: 900;
            font-size: 18px;
            width: 25px;
            height: 25px;
            border-radius: 4px;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .icon {
            width: 17px;
            height: 17px;
        }

        &-info {
            padding: 20px 15px;
            display: flex;
            flex-direction: column;
            gap: 15px;
            font-size: 14px;
            font-weight: 300;

            @media (max-width: $bp-md) {
                padding: 20px 0;
                gap: 12px;
            }
        }
    }
}