.qr {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 0px 10px 0px #0000004D;
        background-color: $color-bg-secondary;
        padding: 30px 50px;
        border-radius: 1rem;
        margin-top: -100px;
        position: relative;
        z-index: 3;
        gap: 30px;

        // Tablet
        @media (max-width: $bp-md) {
            padding: 25px 40px;
            margin-top: -80px;
        }

        // Mobile
        @media (max-width: $bp-sm) {
            flex-direction: column;
            align-items: center;
            // text-align: center;
            gap: 30px;
            // padding: 30px 20px;
            margin-top: -60px;
        }

        @media (max-width: $bp-xs) {
            padding: 20px 15px;
            gap: 20px;
        }
    }

    &__qr-img {
        img {
            width: 270px;

            @media (max-width: 1280px) {
                width: 240px;
            }

            @media (max-width: $bp-md) {
                width: 220px;
            }

            @media (max-width: $bp-sm) {
                width: 200px;
            }

            @media (max-width: $bp-xs) {
                width: 160px;
            }
        }
        @media (max-width: $bp-sm) {
            display: none;
        }
    }

    &__info {
        @media (max-width: $bp-sm) {
            width: 100%;
            .h2 {
                font-size: 24px;
            }
        }

        &-advantages {
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            @media (max-width: $bp-sm) {
                margin-top: 20px;
                gap: 12px;
            }
        }

        &-adv {
            font-weight: 300;
        }

        &-btns {
            margin-top: 25px;
            display: flex;
            align-items: center;
            gap: 25px;

            @media (max-width: $bp-sm) {
                flex-direction: column;
                justify-content: center;
                align-items: flex-start;
                // margin-top: 50px;
                gap: 15px;
            }
        }

        &-btns-option {
            font-weight: 300;
            font-size: var(--body-3);
        }
    }
}