.qr {
    &__wrapper {
        display: flex;
        justify-content: space-between;
        box-shadow: 0px 0px 10px 0px #0000004D;
        background-color: $color-bg-secondary;
        padding: 30px 50px;
        border-radius: 1rem;
        margin-top: -100px;
        position: relative;
        z-index: 3;
    }
    &__qr-img {
        img {
            width: 270px;
            height: 270px;
        }
    }
    &__info {
        &-advantages {
            margin-top: 25px;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
        &-adv {
            font-weight: 300;
        }
        &-btns {
            margin-top: 25px;
            display: flex;
            align-items: center;
            gap: 25px;
        }
        &-btns-option {
            font-weight: 300;
            font-size: var(--body-3);
        }
    }
}