.warranty {
    margin-top: 80px;

    @media (max-width: $bp-md) {
        margin-top: 60px;
    }

    @media (max-width: $bp-sm) {
        margin-top: 50px;
    }

    &__wrapper {
        background-color: #F7F7F7;
        position: relative;
        border-radius: 8px;
        padding: 30px 50px;

        @media (max-width: $bp-md) {
            padding: 25px 40px;
        }

        @media (max-width: $bp-sm) {
            padding: 20px 30px 20px 25px;
        }

        @media (max-width: $bp-xs) {
            padding: 20px 20px 20px 20px;
        }

        &::before {
            content: '';
            width: 8px;
            height: 100%;
            border-radius: 8px 0 0 8px;
            position: absolute;
            left: 0;
            top: 0;
            background-color: #000;

            @media (max-width: $bp-sm) {
                width: 5px;
            }
        }

    }

    &__inner {
        display: flex;
        margin-top: 40px;
        justify-content: space-between;

        @media (max-width: $bp-md) {
            margin-top: 30px;
            flex-direction: column;
            gap: 30px;
        }

        @media (max-width: $bp-sm) {
            margin-top: 25px;
            gap: 25px;
        }
    }

    &__specs {
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-weight: 300;

        @media (max-width: $bp-sm) {
            gap: 15px;
        }

        li {
            display: flex;
            align-items: center;
            gap: 15px;

            @media (max-width: $bp-sm) {
                gap: 12px;
            }

            img {
                @media (max-width: $bp-sm) {
                    width: 20px;
                    height: 20px;
                }
            }

            span {
                @media (max-width: $bp-sm) {
                    font-size: 14px;
                }
            }
        }
    }

    &__btns {
        display: flex;
        align-items: center;
        gap: 25px;

        @media (max-width: $bp-md) {
            align-items: stretch;
        }

        @media (max-width: $bp-sm) {
            flex-direction: column;
            gap: 15px;
        }

        a {
            min-width: 240px;
            font-size: 12px;
            padding-left: 15px;
            padding-right: 15px;

            @media (max-width: $bp-md) {
                min-width: auto;
                flex: 1;
            }

            @media (max-width: $bp-sm) {
                width: 100%;
                font-size: 13px;
                padding-left: 20px;
                padding-right: 20px;
            }
        }
    }
}