h1,
.h1 {
    font-size: var(--headline-1);
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.h1-accent {
    font-size: 112px;
    font-family: $font-family-secondary;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;

    &.accent-heading-before {
        &:before {
            content: '';
            width: 550px;
            height: 160px;
            position: absolute;
            left: -130px;
            top: 0;
            z-index: -1;
            background-image: url('../img/green-pattern.svg');
        }
    }
}

h2,
.h2 {
    font-size: var(--headline-2);
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    @media (max-width: $bp-sm) {
        font-size: 24px;
    }
}

.h2-accent {
    font-size: var(--headline-2);
    font-family: $font-family-secondary;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    position: relative;
    &.accent-before {
        &:before {
            content: '';
            width: 350px;
            height: 150px;
            position: absolute;
            left: -130px;
            top: 0;
            z-index: -1;
            background-image: url('../img/pattern.svg');
        }
    }
}

h3,
.h3 {
    font-size: var(--headline-3);
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h4,
.h4 {
    font-size: var(--headline-4);
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.subtitle {
    font-size: var(--subtitle);
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-transform: none;
    @media (max-width: $bp-md) {
        font-size: 1.25rem;
    }
    @media (max-width: $bp-xs) {
        font-size: 1.1rem;
    }
}

.text-lg {
    font-size: var(--paragraph-1);
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.text-md {
    font-size: var(--paragraph-2);
    font-family: $font-family-base;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.body-lg {
    font-family: $font-family-base;
    font-size: var(--body-1);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.body-lg--bold {
    font-family: $font-family-base;
    font-size: var(--body-1);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.body-md {
    font-family: $font-family-base;
    font-size: var(--body-2);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.body-md--bold {
    font-family: $font-family-base;
    font-size: var(--body-2);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.body-sm {
    font-family: $font-family-base;
    font-size: var(--body-3);
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.body-sm--bold {
    font-family: $font-family-base;
    font-size: var(--body-3);
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}