@import './base/variables';
@import './base/typograpy';
@import './base/base';
@import './components/button';
@import './components/header';
@import './components/hero';
@import './components/visual_qr';
@import './components/repair_type';
@import './components/portfolio';
@import './components/stages';
@import './components/warranty';
@import './components/why';
@import './components/partners';
@import './components/review';
@import './components/faq';
@import './components/estimate';
@import './components/jk';
@import './components/footer';
@import './components/calculator';
@import './components/dialogs';
@import './components/form';